# ------------------------
#   SERVER CONFIG
# ------------------------
PORT=5000

# ------------------------
#   DATABASE CONFIG
# ------------------------
DATABASE_URL=postgresql://YOUR_USERNAME:YOUR_PASSWORD@localhost:5432/YOUR_DATABASE_NAME

# For reference (optional)
DB_USERNAME=YOUR_USERNAME
DB_PASSWORD=YOUR_PASSWORD
DB_NAME=YOUR_DATABASE_NAME

# ------------------------
#   AUTH SECRETS
# ------------------------
JWT_SECRET=your_jwt_secret_here
REFRESH_SECRET=your_refresh_secret_here

# ------------------------
#   EMAIL SERVICE CONFIG
# ------------------------
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email_here
EMAIL_PASS=your_email_app_password_here
